{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
    Identifiant : {{ user.id }}
    <br>
    Firstname : {{ user.firstname }}
    <br>
    Lastname : {{ user.lastname }}
    <br>
    Email : {{ user.email }}
    <br>
    BirthDate : {{ user.birthday.format('Y-m-d H:i:s') }}
    <br>
    <a href="{{ path('main') }}">Retour</a>

{% endblock %}
